.pop{
	width:100%;
	height: 100%;
	position: fixed;
	left:0;
	top:0;
	z-index: 1111;
	background-color: rgba(0,0,0,0.9);
}
/**loading**/
.loading_pop .title{
	width:600px;;
	position: absolute;
	font-size: 20px;
	left: 50%;
	margin-left:-300px;
	top:50%;
	margin-top: -40px;
	color:#fff;
	text-align: center;
}
.loading_pop .title span{
	padding-left: 1em;
}
.loading_pop .container{
	width:600px;
	height: 10px;
	position: absolute;
	left:50%;
	margin-left:-300px;
	top:50%;
	background: #fff;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	overflow: hidden;	
}
@keyframes barberpole {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 600px 0%;
  }
}
@-webkit-keyframes barberpole {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 600px 0%;
  }
}
.loading_pop .sub_container{
	width:100%;
	height: 100%;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	overflow: hidden;
    background-color: #d31145;
    background-image: -webkit-repeating-linear-gradient(-45deg, #d31145, #d31145 30px, #da6e6f 30px, #da6e6f 60px);
    background-image: repeating-linear-gradient(-45deg, #d31145, #d31145 30px, #da6e6f 30px, #da6e6f 60px);
    background-size: 600px 100%;
    animation: barberpole 12s linear infinite;
    -webkit-animation: barberpole 12s linear infinite;    
    border-bottom: 0.2rem solid #9f292a;
}